*.class
target
logs
*.log

*/*dependency-reduced-pom.xml

*.jar
*.war
*.ear

*.ipr
*.iws
*.iml
**/*.iml
*.swp

.DS_Store
**/*.DS_Store

*/**/lib_managed/*
**/lib_managed/*
lib_managed

*/**/target/*
**/target/*
target

app/assets/stylesheets/*
**/bin/*
**/lib/*
*.classpath
*.project
**/*.settings
.project
.settings
.classpath
.sass-cache

*/**/.idea/*
**/.idea/*
.idea/

*/**/.idea_modules/*
**/.idea_modules/*
.idea_modules/

.ensime*

**/codekit-config.json

.cache
.target
node_modules
**/npm-debug.log
bower_components
public
/bin
app/assets/stylesheets

activator-sbt*
project/activator-sbt*
