@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.cb.forms
@import uk.gov.hmrc.cb.forms.ClaimantNameForm.ClaimantNamePageModel

@(form: Form[ClaimantNamePageModel])(implicit request: Request[_])

@uk.gov.hmrc.cb.views.html.cbcommon.cbMain(title = Messages("cb.claimant.name.title"), heading = Messages("cb.claimant.name.title")){

@helpers.form(action = uk.gov.hmrc.cb.controllers.claimant.routes.ClaimantNameController.post){

@helpers.errorSummary(heading = Messages("cb.claimant.name.invalid.title"), form = form)

<div class="form-group">
    @helpers.input(field = form("firstName"),
    args =
    '_divClass -> "form-field",
    '_error_id -> "firstNameError",
    '_label -> Messages("cb.claimant.first.name.label"),
    '_inputClass -> "form-control input--cleared",
    '_labelClass -> "form-label",
    '_labelDataAttributes -> "id=firstName"
    )

    @helpers.input(field = form("lastName"),
    args =
    '_divClass -> "form-field",
    '_error_id -> "LastNameError",
    '_label -> Messages("cb.claimant.last.name.label"),
    '_inputClass -> "form-control input--cleared",
    '_labelClass -> "form-label",
    '_labelDataAttributes -> "id=lastName"
    )
</div>

<div class="form-field--submit">
    <input id="continue-button" class="button" type="submit" value="@Messages("cb.common.continue")">
</div>

}
}
