@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.cb.forms

@(updateChildBenefitForm: Form[_])(implicit request: Request[_])

@uk.gov.hmrc.cb.views.html.cbcommon.cbMain(title = Messages("cb.update.child.benefit"), heading = Messages("cb.update.child.benefit")){

    @helpers.form(action = uk.gov.hmrc.cb.controllers.routes.UpdateChildBenefitController.post){

            @helpers.errorSummary(heading = Messages("error.message.title"), form = updateChildBenefitForm)

            @helpers.inputRadioGroup(
                updateChildBenefitForm("updateChildBenefit"),
                Seq(("true", Messages("cb.common.yes")), ("false", Messages("cb.common.no"))),
                '_fieldsetAttributes -> "id=updateChildBenefit",
                '_groupClass -> "form-group inline",
                '_labelClass -> "block-label",
                '_legend -> Messages("cb.update.child.benefit"),
                '_legendClass -> "bold-medium visuallyhidden")

            <input id="continue-button" class="button" type="submit" value="@Messages("cb.common.continue")">
        }
}
