@(title: String,
heading: String,
subHeading : Option[String] = None,
mainClass : String = "main")(mainContent: Html)(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.layouts

@linkElement = {
<meta name="robots" content="noindex">
<meta name="googlebot" content="noindex">
}

@contentHeader = {

    <div class="grid-layout__column grid-layout__column--2-3">
        <h1 id="page-title">@title</h1>
    </div>
    <div class="grid-layout__column grid-layout__column--1-3">

    </div>

}

@cbTitle = {
    @Html(title) - @Messages("cb.application.title")
}

@uk.gov.hmrc.cb.views.html.main_template(
    title = cbTitle.toString,
    mainClass = Some(mainClass),
    contentHeader = Some(contentHeader)){
        @layouts.article(mainContent)
}