@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.cb.forms
@import uk.gov.hmrc.cb.forms.ChildDateOfBirthForm.ChildDateOfBirthPageModel

@(form: Form[ChildDateOfBirthPageModel], index: Int)(implicit request: Request[_])

@fieldsetClasses = @{if(form("dateOfBirth").hasErrors) "form-field--error" else "" }

@uk.gov.hmrc.cb.views.html.cbcommon.cbMain(title = Messages("cb.child.date.of.birth.title"), heading = Messages("cb.child.date.of.birth.title")){

    @helpers.form(action = uk.gov.hmrc.cb.controllers.child.routes.ChildDateOfBirthController.post(index)){

        @helpers.errorSummary(heading = Messages("error.message.title"), form = form)

        <fieldset class="form-group form-date @fieldsetClasses" id="dateOfBirth">

            @form("dateOfBirth").errors.map { error =>
                @helpers.errorInline(error.key, Messages(error.message))
            }

            @helpers.input(
            form("dateOfBirth.day"),
            '_label -> Messages("date.fields.day"),
            '_labelClass -> "form-group form-group-day",
            '_inputClass -> "form-control input--xsmall",
            '_emptyValueText -> " "
            )
            @helpers.input(
            form("dateOfBirth.month"),
            '_label -> Messages("date.fields.month"),
            '_labelClass -> "form-group form-group-month",
            '_inputClass -> "form-control input--xsmall",
            '_emptyValueText -> " "
            )
            @helpers.input(
            form("dateOfBirth.year"),
            '_label -> Messages("date.fields.year"),
            '_labelClass -> "form-group form-group-year",
            '_inputClass -> "form-control input--xsmall",
            '_emptyValueText -> " "
            )

        </fieldset>

        <input id="continue-button" class="button" type="submit" value="@Messages("cb.common.continue")">

    }

}